@import url(reset.css);

:root {
	--cell-size: 1.8em;
	--col-lost: hsl(5, 100%, 50%);
	--col-cell-empty: #fff;
	--col-cell-incorrect: #999;
	--col-cell-almost: hsl(41, 100%, 50%);
	--col-cell-correct: hsl(140, 100%, 50%);
	--img-incorrect: url(../svg/incorrect.svg);
	--img-almost: url(../svg/almost.svg);

	--col-bg: hsl(240, 20%, 5%);
	--col-text: hsla(15, 12%, 90%, 0.95);
	--col-text-dark: hsla(15, 12%, 0%, 0.95);
	--col-primary: hsl(210, 100%, 50%);
	--col-primary-light: hsl(210, 100%, 70%);
	--col-accent: hsl(303, 28%, 31%);

	--radius: 2px;

	--time-transition: 0.4s;
}

body {
	font-family: sans-serif;
	background-color: var(--col-bg);
	font-size: 2em;
	color: var(--col-text);
	text-align: center;
	padding: 0 0 1em 0;
}

main {
	margin: 0 auto 0.5em auto;
	display: flex;
	flex-direction: column;
}

row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

input {
	text-align: center;
	display: block;
	width: var(--cell-size);
	height: var(--cell-size);
	line-height: var(--cell-size);
	background-color: white;
	margin: 0.1em;
	border: 4px solid var(--col-cell-empty);
	opacity: 0.7;
	font-family: sans-serif;
	border-radius: var(--radius);
	transition: border-color var(--time-transition),
		opacity var(--time-transition);
}

input[enabled='true'].error {
	border-color: var(--col-lost);
}

input[enabled='true'] {
	cursor: text;
	opacity: 1;
}

input.lastguess {
	opacity: 1;
}

input.loader {
	opacity: 0;
}

input:focus {
	border-color: var(--col-primary);
}

input[state='0'] {
	background-color: var(--col-cell-incorrect);
	border-color: var(--col-cell-incorrect);
}

input[state='1'] {
	background-color: var(--col-cell-almost);
	border-color: var(--col-cell-almost);
}

input[state='2'] {
	background-color: var(--col-cell-correct);
	border-color: var(--col-cell-correct);
}

btn {
	height: 1em;
	width: 1em;
	font-size: 1em;
	display: block;
	margin: auto;
	padding: 0.4em;
	background-color: var(--col-primary);
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	user-select: none;
	font-family: sans-serif;
	border-radius: var(--radius);
}

btn:active {
	transform: scale(0.95);
}

btn:hover {
	background-color: var(--col-primary-light);
}

keyboard {
	background: rgba(0, 0, 0, 0.05);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0.5em auto 0.5em auto;
	width: 50%;
	min-width: 200px;
	max-width: 400px;
}

char {
	font-size: 0.6em;
	display: inline-block;
	width: 1em;
	height: 1em;
	color: var(--col-bg);
	background: var(--col-cell-empty);
	border-radius: var(--radius);
	padding: 0.1em;
	margin: 0.2em;
	user-select: none;
	font-weight: 900;
}

char,
input {
	background-position: top left;
	background-size: contain;
	background-repeat: no-repeat;
}

char[state='0'],
input[state='0'] {
	background-color: var(--col-cell-incorrect);
	background-image: var(--img-incorrect);
}

char[state='1'],
input[state='1'] {
	background-color: var(--col-cell-almost);
	background-image: var(--img-almost);
}

char[state='2'],
input[state='2'] {
	background-color: var(--col-cell-correct);
}

message {
	user-select: none;
	color: var(--col-text-dark);
	font-weight: 400;
	letter-spacing: 0.05em;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	padding: 0.5em 1em;
	margin: 0;
	font-size: 0.8em;
	opacity: 0;
	background-color: transparent;
	transform: translateY(150%);
	transition: opacity var(--time-transition),
		background-color var(--time-transition),
		transform var(--time-transition), color var(--time-transition);
}

message p {
	display: inline;
}

message span {
	display: inline;
	font-weight: 900;
}

message.won,
message.lost {
	opacity: 1;
	transform: translateY(0);
}

message.won {
	background-color: var(--col-cell-correct);
}

message.lost {
	background-color: var(--col-lost);
}

h2 {
	font-weight: 600;
	font-size: 0.5em;
	margin: 1em auto 0 auto;
}

legend {
	display: inline-block;
	box-sizing: border-box;
	margin: auto;
	padding: 0.1em 1em;
	margin-top: 1em;
	width: auto;
}

legend span {
	font-size: 0.5em;
	margin: 0 1em 0 0.5em;
}

legend > p {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
}
